.main {
    max-height: 999999rem;
    padding: 6.55rem 2rem 2rem 2rem;
    background-color: var(--bg-color);
}

.main.aside {
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    transition: 
        visibility 0s linear .4s,
        max-height 0s linear .4s;
}

@media (min-width: 640px){
    .main {
        max-height: none;
    }

    .main.aside {
        visibility: visible;
        max-height: none;
        overflow: auto;
        transition: none;
    }
}

@media (min-width: 960px){
    .main {
        grid-area: 2 / 2 / 3 / 3;
        padding: 2rem;
    }
}
