.logo {
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;
    font-family: var(--font-comfortaa);
    line-height: 1;
}

.logo .title {
    display: inline-block;
}

.logo .title span:first-child {
    font-size: 1rem;
}

.logo .title span:last-child {
    font-size: 1.4rem;
}

.logo .number {
    font-size: 3rem;
}