.list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 0 0 -4rem;
    list-style-type: none;
}

.list li {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.list .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: .5rem;
}

.list .description .link {
    border: none;
}

.list .description h2 {
    border-bottom: 2px solid var(--text-color);
    padding-bottom: 1px;
    font-size: 1.1rem;
}

.list .description p {
    font-size: 0.8rem;
}

.list .disabled {
    opacity: .5;
}

.list .disabled h2 {
    cursor: not-allowed;
}

@media (min-width: 640px){
    .list {
        margin-left: 0;
    }
}
