.breadcrumb {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    height: 6.55rem;
    margin-right: var(--main-padding);
    position: absolute;
    top: 0;
    left: 4.5rem;
    font-family: var(--font-montserrat);
    font-size: .8em;
}

.breadcrumb > span {
    display: inline-block;
    white-space: nowrap;
}

.breadcrumb a:hover {
    border-bottom: 1px solid var(--text-color);
}

.separator {
    margin: 0 .8em;
    font-weight: bold;
    color: var(--bg-accent-color);
}

@media(min-width: 960px){
    .breadcrumb {
        display: none;
    }
}