.filter {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1rem;
}

.filter input[type=search] {
    flex: 1;
    padding: .5rem;
    border-radius: 1.5rem;
    border: 2px solid var(--card-filter-border-color);
}

.layout {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}

.card {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border: 2px solid var(--card-border-color);
    transition: background-color .5s;
    opacity: 1;
    transition: opacity 1s;
}

.card.loading {
    opacity: 0;
}

.card.hidden {
    display: none;
}

.card > div {
    padding: .5rem;
}

.title {
    font-family: monospace;
    font-size: 1.1rem;
    font-weight: bold;
}

.content {
    font-size: .9rem;
}

.content p {
    margin: 0;
}

.card:hover {
    background-color: var(--card-hover-bg-color);
}

@media(min-width: 20rem) {
    .layout {
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        grid-auto-rows: 10px;
    }
}