.container {
    margin: 0 0 1rem;
    position: relative;
    border: 2px solid var(--code-block-border-color);

    /* 
        Finding the height of the tag:
        Height = height + border-width + border-width
        Height = 1.7rem + 2px + 1px
        Height = 1.7rem + 3px
    */
    min-height: calc(1.7rem + 3px);
}

.tag {
    display: flex;
    align-items: center;
    height: 1.7rem;
    padding: 0 .5rem;
    border-bottom: 1px solid var(--code-block-border-color);
    background-color: var(--code-block-tag-bg-color);
    color: var(--code-block-tag-text-color);
    font-size: .8rem;
    z-index: 1;
}

@media(min-width: 640px) {
    .tag {
        position: absolute;
        border-left: 1px solid var(--code-block-border-color);
        top: 0;
        right: 0;
    }
}
