.spoiler {
    margin: 1rem 0;
}

.button {
    background-color: var(--bg-accent-gradient-color);
    color: var(--text-inverted-color);
    border: none;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    font-size: 1rem;
}

.container {
    padding: .5rem;
    border: 2px solid var(--bg-accent-gradient-color);
}

.container.hidden {
    background-color: var(--bg-accent-color);
}

.container.no-border {
    padding: 0;
    border: none;
}
