:root {
    --text-color: #222;
    --text-inverted-color: #fff;
    --bg-color: #fff;
    --bg-accent-color: #f78f20;
    --bg-accent-gradient-color: #faa754;
    --search-border-color: #a19d97;
    --search-input-bg-color: #fdddbc;
    --search-submit-bg-color: #6d6a62;
    --search-submit-text-color: #fff;
    --switch-bg-color: #fff;
    --switch-slider-bg-color: #6d6a62;
    --switch-slider-border-color: #a19d97;
    --aside-text-color: #222;
    --aside-bg-color: #fff;
    --aside-border-color: #6d6a62;
    --aside-list-border-color: #c3c3c3;
    --aside-button-bg-color: #6d6a62;
    --aside-button-border-color: #a19d97;
    --table-header-bg-color: #f78f20;
    --table-header-text-color: #fff;
    --bubble-bg-color: #f78f20;
    --bubble-text-color: #fff;
    --breadcrumb-text-color: #222;
    --breadcrumb-accent-color: #f78f20;
    --to-top-bg-color: #f78f20;
    --to-top-text-color: #fff;
    --page-switcher-text-color: #f78f20;
    --inline-code-bg-color: #d6d6d6;
    --key-bg-color: #d6d6d6;
    --key-border-color: #6d6a62;
    --code-block-border-color: #6d6a62;
    --code-block-tag-bg-color: #faa754;
    --code-block-tag-text-color: #222;
    --bordered-box-border-color: #6d6a62;
    --colored-box-border-color: #6d6a62;
    --colored-box-bg-color: #faa754;
    --colored-box-text-color: #222;
    --table-head-bg-color: #eee;
    --download-block-border-color: #6d6a62;
    --download-block-hover-color: #faa754;
    --download-block-text-color: #222;
    --file-explorer-border-color: #6d6a62;
    --file-explorer-text-color: #222;
    --file-explorer-folder-color: #a19d97;
}

[data-theme='dark'] {
    --text-color: #fff;
    --text-inverted-color: #fff;
    --bg-color: #36352e;
    --bg-accent-color: #eb5539;
    --bg-accent-gradient-color: #f3734e;
    --search-border-color: #a19d97;
    --search-input-bg-color: #fdddbc;
    --search-submit-bg-color: #6d6a62;
    --search-submit-text-color: #fff;
    --switch-bg-color: #fff;
    --switch-slider-bg-color: #6d6a62;
    --switch-slider-border-color: #a19d97;
    --aside-text-color: #fff;
    --aside-bg-color: #36352e;
    --aside-border-color: #f9ae90;
    --aside-list-border-color: #c3c3c3;
    --aside-button-bg-color: #f9ae90;
    --aside-button-border-color: #f3734e;
    --table-header-bg-color: #eb5539;
    --table-header-text-color: #fff;
    --bubble-bg-color: #eb5539;
    --bubble-text-color: #fff;
    --breadcrumb-text-color: #fff;
    --breadcrumb-accent-color: #eb5539;
    --to-top-bg-color: #eb5539;
    --to-top-text-color: #fff;
    --page-switcher-text-color: #eb5539;
    --inline-code-bg-color: #f9ae90;
    --key-bg-color: #f9ae90;
    --key-border-color: #f3734e;
    --code-block-border-color: #6d6a62;
    --code-block-tag-bg-color: #eb5539;
    --code-block-tag-text-color: #fff;
    --bordered-box-border-color: #6d6a62;
    --colored-box-border-color: #6d6a62;
    --colored-box-bg-color: #f3734e;
    --colored-box-text-color: #fff;
    --table-head-bg-color: #6d6a62;
    --download-block-border-color: #6d6a62;
    --download-block-hover-color: #eb5539;
    --download-block-text-color: #fff;
    --file-explorer-border-color: #6d6a62;
    --file-explorer-text-color: #fff;
    --file-explorer-folder-color: #a19d97;
}